<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="MySQLConnStr" connectionString="DRIVER={MySQL ODBC 3.51 Driver};Database=CAT;Server=localhost;UID=catAdmin;PWD=4XzPuba1aQPft6bV;"/>
  </connectionStrings>
  <appSettings>
    <add key="UsersTableName" value="users"/>
    <add key="AchievementsTableName" value="achievements"/>
    <add key="AchievementDataTableName" value="achievementdata"/>
    <add key="RanksTableName" value="ranks"/>
    <add key="RewardsTableName" value="rewards"/>
    <add key="RewardsDataTableName" value="rewardsdata"/>
    <add key="AdminHome" value="~/Pages/Admin/Overview.aspx"/>
    <add key="UserHome" value="~/Pages/User/Overview.aspx"/>
    <add key="DefaultHome" value="~/Pages/Default.aspx"/>
    <add key="NumOfRecentAchievements" value="3"/>
    <add key="nameOfPointsValue" value="Points"/>
    <add key="nameOfPointsValueSingle" value="Point"/>
    <add key="hiddenAchievementName" value="SECRET ACHIEVEMENT"/>
    <add key="hiddenAchievementDescription" value="WOULDN'T YOU LIKE TO KNOW HOW TO GET THIS!"/>
    <add key="hiddenAchievementImage" value="~/Images/achievementLocked.png"/>
    <add key="websiteBaseDirectory" value="C:\\Computing-Project\\CAT 2015\\CAT 2015\\CAT 2015\\"/>
    <add key="greyscaleSuffix" value="greyscale"/>
  </appSettings>
</configuration>