.base {
    background-color:black;
    color:lime;
    text-align: center;
    font-size: 14px;
    font-family: 'OCR A';
    font-weight: bold;
}
.base_w_border {
    background-color:black;
    color:lime;
    text-align: center;
    font-size: 14px;
    font-family: 'OCR A';
    font-weight: bold;
    border:3px solid lime;
}
.table {
    border:3px solid lime;
    border-collapse: separate;
    background-color:black;
    padding: 4px;
    color:lime;
    text-align: center;
    font-size: 12px;
    font-family: 'OCR A';
    font-weight: bold;
    border-collapse: collapse;
}
.overviewPanel {
    background-color:black;
    color:lime;
    text-align: center;
    font-size: 20px;
    font-family: 'OCR A';
    font-weight: bold;
}
.overviewPanelImportant {
    background-color:black;
    color:lime;
    text-align: center;
    font-size: 32px;
    font-family: 'OCR A';
    font-weight: bold;
}
.achievementElement {
    background-color:black;
    color:lime;
    text-align: center;
    font-size: 20px;
    font-family: 'OCR A';
    font-weight: bold;
}
.achievementElementDescription {
    background-color:black;
    color:lime;
    text-align: center;
    font-size: 16px;
    font-family: 'OCR A';
    font-weight: bold;
}
.textbox {
    border:3px solid lime;
    cursor:text;
    background-color:black;
    color:lime;
    width: 196px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    font-family: 'OCR A';
    font-weight: bold;
}
.subHeading {
    background-color:black;
    color:lime;
    text-align: center;
    font-size: 16px;
    font-family: 'OCR A';
    font-weight: bold;
}
.button {
    border:3px solid lime;
    cursor:pointer;
    background-color:black;
    color:lime;
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-family: 'OCR A';
    font-weight: bold;
}
.button:hover {
    border:2px solid lime;
}
.DropDown {
    border:3px solid lime;
    cursor:pointer;
    background-color:black;
    color:lime;
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-family: 'OCR A';
    font-weight: bold;
}
.progressBarFilled {
    background-color: lime;
    height: 100%;
    border: 1px solid lime;
}
.progressBarEmpty {
    border: 1px solid lime;
    background-color: black;
    height: 100%;
}
.nickLocked {
    background-color:black;
    color:red;
    text-align: center;
    font-size: 20px;
    font-family: 'OCR A';
    font-weight: bold;
}
.achievementElementGrey {
   background-color:black;
    color:lightgrey;
    text-align: center;
    font-size: 20px;
    font-family: 'OCR A';
    font-weight: bold;
}
.achievementElementDescriptionGrey {
    background-color:black;
    color:lightgrey;
    text-align: center;
    font-size: 16px;
    font-family: 'OCR A';
    font-weight: bold;
}
.base_w_borderGrey {
    background-color:black;
    color:lightgrey;
    text-align: center;
    font-size: 14px;
    font-family: 'OCR A';
    font-weight: bold;
    border:3px solid lightgrey;
}
.achievementElementYellow {
   background-color:black;
    color:yellow;
    text-align: center;
    font-size: 20px;
    font-family: 'OCR A';
    font-weight: bold;
}
.achievementElementDescriptionYellow {
    background-color:black;
    color:yellow;
    text-align: center;
    font-size: 16px;
    font-family: 'OCR A';
    font-weight: bold;
}
.base_w_borderYellow {
    background-color:black;
    color:yellow;
    text-align: center;
    font-size: 14px;
    font-family: 'OCR A';
    font-weight: bold;
    border:3px solid yellow;
}
.AchievementsHeader {
    background-color:black;
    color:lime;
    text-align:center;
    font-size: 24px;
    font-family: 'OCR A';
    font-weight: bold;
    width: 100%;
    height: 100%;
}
.header {
    top: 3px;
    left: 12px;
    right: 12px;
    position: fixed;
    border:3px solid lime;
    background-color:black;
    color:lime;
    text-align: center;
    font-size: 28px;
    font-family: 'OCR A';
    font-weight: bold;
    height: 50px;
}
.footer {
    bottom: 0px;
    position: fixed;
    height: 20px;
    width: 100%;
    background-color:black;
    color:lime;
    text-align: center;
    font-size: 12px;
    font-family: 'OCR A';
    font-weight: bold;
}
.contentWrapper {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 200px;
    width: 100%;
    height: 100%;
    color: lime;
    background-color: black;
    text-align: center;
    font-size: 12px;
    font-family: 'OCR A';
    font-weight: bold;
}
.userLabel {
    width: 200px;
    height: 50px;
    color: lime;
    background-color: black;
    text-align: center;
    font-size: 12px;
    font-family: 'OCR A';
    font-weight: bold;
    bottom: 25px;
    right: 12px;
    position: fixed;
}
.navMenuWrapper {
    width: 200px;
    top: 60px;
    position: fixed;
    right: 14px;
}
